@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

/*Color Scheme _ Monochromatic
#0d3740 - dark
#1e8095 - Med
#30c9ea - Light
*/

:root {
    background-color: rgb(20, 20, 20);
}

* {
    scroll-behavior: smooth;
    font-family: Quicksand, Verdana, Geneva, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(background-color);
    color: rgb(190, 190, 200); 
    height: 100vh;
    padding: 0px;
    margin: 0px;   
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}



/* SCROLL BAR */
::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}


/* NAVIGATION BAR */
.nav-bar {
    height: 3.6em;

    justify-content: space-between;
    display: flex;
    flex: content;
    background-color: #0d3740;
}
/*----NAME  top left*/
.nav-bar .name {
    color: rgb(190, 190, 200);
    font-size: 2.4em;
    font-weight: 300;
    align-items: center;
    padding-left: 4%;
    margin-top: 0.4rem;
}
.nav-bar .cap {
    color: #1e8095;
    font-weight: 600;
}
/*----NAV ITEMS  top right*/
.nav-bar ul {
    list-style-type: none;
    display: inline-flex;
    padding-right: 4%;
    gap:2em;
    margin-top: 1em;
}
.nav-bar ul a {
    color: rgb(190, 190, 200);
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: .3em; 
}
.nav-bar a:hover {
    background-color: #1e8095;
    color: white;
    font-weight: 300;
    margin: 0px 13px 0px 13px;
    transition: .5s;
    transition-duration: .5s; 
}


/*CONTENT TEXT*/
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5em;
}
h3 {
    text-align: center;
}
p {
    font-size: 1.3em;
    line-height: 1.4;
    padding: 0px 15%;
    text-align: center;
}
a {
    color: #1e8095;
    font-weight: 800;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #30c9ea;
}


/* LOGOS*/
.logos {
    display: flex;    
}
.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 400ms;
}
.logo:nth-child(4) {
    transition-delay: 600ms;
}
.logo:nth-child(5) {
    transition-delay: 800ms;
}
.logo:nth-child(6) {
    transition-delay: 1000ms;
}

.logos img {
    height: 100px;
    width: 100px;  
}
.logos img:hover {
   transform: scale(1.1);
   transition-duration: 0.6s;
}
#ht, #cs, #js, #py, #gi, #gh {
    visibility: hidden;
}
.logo:hover #ht {
    visibility: visible;
}
.logo:hover #cs {
    visibility: visible;
}
.logo:hover #js {
    visibility: visible;
}
.logo:hover #py {
    visibility: visible;
}
.logo:hover #gi {
    visibility: visible;
}
.logo:hover #gh {
    visibility: visible;
}


/*JAVASCRIPT RESPONSIVENESS*/
.hidden {
    opacity: 0;
    transition: all 1s;
    filter:brightness(1)
}
.show {
    opacity: 1;
    transition: all 3s;
    filter: brightness();
}

.center-content {
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}


/*CLOCK*/
  .nav-bar .clock {
    color: #1e8095;
    font-size: .7em;
    font-weight: 300;
    margin-left: .75em;
    display: inline-flex;
  }


/* For mobile devices */
@media screen and (max-width: 767px) {
    section {
      grid-template-columns: 1fr;
      padding: 1rem;
    }
    h1 {
      font-size: 2rem;
      text-align: center;
    }  
    h2 {
      font-size: 1.8rem;
    } 
    h3 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1.2rem;
      padding: 0;
      text-align: center;
    }  
    .logos img {
      height: 50px;
      width: 50px;
    }
  }

/* Responsive Navigation Bar */
@media only screen and (max-width: 600px) {
    .nav-bar {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav-bar .name {
        flex-basis: 100%;
        text-align: center;
        padding: 1rem;
    }
    .nav-bar ul {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .nav-bar ul a {
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .nav-bar ul a:hover {
        text-decoration: underline;
        color: #30c9ea;
    }
}

@media screen and (max-width: 600px) {
    .nav-bar {
      flex-direction: column;
      height: auto;
    }
    .nav-bar .name {
      margin-bottom: 1em;
    }
    .nav-bar ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
    .nav-bar ul a {
      margin-top: 1em;
    }
  }
  