@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

/*Color Scheme _ Monochromatic
#0d3740 - dark
#1e8095 - Med
#30c9ea - Light
*/

:root {
    background-color: rgb(20, 20, 20);
}

* {
    scroll-behavior: smooth;
    font-family: Quicksand, Verdana, Geneva, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(background-color);
    color: rgb(190, 190, 200); 
    height: 100vh;
    padding: 0px;
    margin: 0px;   
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}



/* SCROLL BAR */
::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}


/* NAVIGATION BAR */
.nav-bar {
    height: 3.5em;
    width: 100%;
    justify-content: space-between;
    display: flex;
    background-color: #0d3740;
}
/*----NAME  top left*/
.nav-bar .name {
    color: rgb(190, 190, 200);
    font-size: 2em;
    font-weight: 300;
    align-items: center;
    padding-left: 4%;
    padding-top: 0em;
    margin-top: 0.2em;
}
.nav-bar .cap {
    color: #1e8095;
    font-weight: 600;
}
/*----NAV ITEMS  top right*/
.nav-bar ul {
    list-style-type: none;
    display: flex;
    padding-right: 4%;
    gap:2em;
    margin-top: 1em;
}
.nav-bar ul a {
    color: rgb(190, 190, 200);
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: .3em; 
}
.nav-bar a:hover {
    background-color: #1e8095;
    color: white;
    font-weight: 300;
    margin: 0px 13px 0px 13px;
    transition: .5s;
    transition-duration: .5s; 
}


/*CONTENT TEXT*/
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
p {
    font-size: 1.3em;
    line-height: 1.4;
    padding: 0px 15%;
    text-align: center;
}
a {
    color: #1e8095;
    font-weight: 800;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #30c9ea;
}

/* LOGOS*/
.logos {
    display: flex;    
}
.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 400ms;
}
.logo:nth-child(4) {
    transition-delay: 600ms;
}
.logo:nth-child(5) {
    transition-delay: 800ms;
}
.logo:nth-child(6) {
    transition-delay: 1000ms;
}

.logos img {
    height: 70px;
    width: 70px;  
}
.logos-link img {
    height: 70px;
    width: 70px; 
}
.logo-link:nth-child(2) {
    transition-delay: 200ms;
}
.logo-link:nth-child(3) {
    transition-delay: 400ms;
}


/*JAVASCRIPT RESPONSIVENESS*/
.hidden {
    opacity: 0;
    transition: all 1s;
    filter:brightness(1)
}
.show {
    opacity: 1;
    transition: all 3s;
    filter: brightness();
}

.center-content {
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

  /*CLOCK*/
  .nav-bar .clock {
    color: #1e8095;
    font-size: .7em;
    font-weight: 300;
    margin-left: .75em;
    display: inline-flex;
  }