@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

/*Color Scheme _ Monochromatic
                                #0d3740 - dark
                                #1e8095 - Med
                                #30c9ea - Light
*/

/* SCROLL BAR */
::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}
::-webkit-scrollbar-corner {
    background-color: #181a1b;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

:root {
    --primary-color:#141414;
    --secondary-color:#d2dce6;
    --project-box:#262626;
    --dd-text:#d2dce6;
}        

.lightDark{
    --primary-color:#bcbcbc;
    --secondary-color:black;
    --project-box:#a9a9a9;
    --dd-text:black;
}  

* {   
    scroll-behavior: smooth;
    font-family: Quicksand, Verdana, Geneva, sans-serif;
    box-sizing: border-box;
}        

body {
    background-color: var(--primary-color);
    color: var(--secondary-color); 
    height: 100vh;
    padding: 0px;
    margin: 0px;   
}    

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    /* position: static; */
    z-index: 0;
}    

    /*BANNER*/
.banner {
    width: 100%;
    height: 3.4em;
    display: flex;
    justify-content: center;
    background-color: #0d3740;   
  }
  .banner .name .clock {
    justify-content: center;
  }
  /* NAME */
  .name {
    color: rgb(190, 190, 200);
    font-size: 2.4em;
    font-weight: 300;
    margin-top: 0.2rem;
    position: relative;
    text-align: center;
  }
  .cap {
    color: #1e8095;
    font-weight: 600;
  }
  /*CLOCK*/
  .clock {
    color: #1e8095;
    font-size: 1.9em;
    font-weight: 300;
    margin-top: 0.7rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  
    /*Light / Dark Mode Image*/
.lightModeImg {
    margin-top: 0.7rem;
    float: right;
  }

    /* NAVIGATION BAR */
.nav-bar {
    text-align: center;
    flex: content;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2; 
}

.nav-bar ul {
    list-style-type: none;
    display: inline-flex;
    padding-right: 4%;
    gap: 1.5em;
    margin-top: 1em;
    position: sticky;
    top: 0;
    z-index: 2;
}
.nav-bar ul a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: .3em;
    position: sticky; 
    top: 0;
    z-index: 2;
}
.nav-bar a:hover {
    background-color: #1e8095;
    font-weight: 300;
    margin: 0px 13px 0px 13px;
    transition: .5s;
    transition-duration: .5s; 
}

/*CONTENT TEXT*/
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5em;
}
h3 {
    text-align: center;
}
.project-align h3 {
    margin-bottom: 0;
    margin-top: 10px;
}
p {
    font-size: 1.3em;
    line-height: 1.45;
    padding: 0px 15%;
    text-align: center;
}
a {
    color: #1e8095;
    font-weight: 800;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #30c9ea;
}
div {
    text-align: center;
}
b {
    font-size: 1.3em;
}


/* LOGOS*/
.logos {
    display: flex;    
}
.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 400ms;
}
.logo:nth-child(4) {
    transition-delay: 600ms;
}
.logo:nth-child(5) {
    transition-delay: 800ms;
}
.logo:nth-child(6) {
    transition-delay: 1000ms;
}

.logos img {
    height: 100px;
    width: 100px;  
}
.logos img:hover {
   transform: translateY(10px);
   transition-duration: 0.6s;
}
#ht, #cs, #js, #py, #gi, #gh {
    visibility: hidden;
}
.logo:hover #ht {
    visibility: visible;
}
.logo:hover #cs {
    visibility: visible;
}
.logo:hover #js {
    visibility: visible;
}
.logo:hover #py {
    visibility: visible;
}
.logo:hover #gi {
    visibility: visible;
}
.logo:hover #gh {
    visibility: visible;
}


/*JAVASCRIPT RESPONSIVENESS*/
.hidden {
    opacity: 0;
    transition: all 1s;
    filter:brightness(0.6)
}
.show {
    opacity: 1;
    transition: all 1.5s;
    filter: brightness(1);
}

.center-content {
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggleParagraph {
    opacity: 0;
    height: 0;
    transition: opacity 0.3s ease, height 1s;
    margin-bottom: 20px; 
    overflow: hidden;
}
.toggleParagraph.show {
    opacity: 1;
    height: auto;
}
.dd {
    width: 30%;
}
.ddBtn {
    color: var(--dd-text);
    background-color: var(--project-box);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 20px;
}
.ddBtn:hover {
    color: #30c9ea;
    background-color: #454a4d;
    border-radius: 10px;
}
.dd-container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}



/*PROJECTS*/
.project-align {
    display: flex;
}
.project-align > div {
    margin: 1.5rem; 
    background-color: var(--project-box);
}
/*ROCK PAPER SCISSORS*/
div #rps {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 300px;
}
div #rps img {
    display: inline-flex;
    justify-content: space-around;
    height: auto;
    width: 70px;
    margin-bottom: 10px;
}
#startGame {
    width: 7rem;
    height: 2rem;
    background-color: #1e8095;
    font-size: 0.9rem;
    font-weight: 800;
    border-radius: 0.3em;
    margin-bottom: 5px;
}
#startGame:hover {
   background-color: #30c9ea; 
}
#userChoiceInput {
    text-align: center;
    background-color: #d0cccc;
    border-radius: 0.3em;
    height: 2rem;
    width: 10rem;
    font-weight: 800;
}
#result {
    padding-top: 5px;
}


/*TIC TAC TOE*/
div #ttt {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 300px;
}  
#board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 180px;
    height: 180px;
    margin: 0 auto;
}  
.square {
    background-color: #30c9ea;
    border: 1px solid #333;
    height: 60px;
    width: 60px;
    cursor: pointer;
    font-size: 3em;
    color: black;
    font-weight: 800;
}  
.square:nth-child(even) {
    background-color: #1e8095;
}
.square:hover {
    background-color: #d0cccc;
} 
#gameStatus {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
}


/* For mobile devices */
@media screen and (max-width: 890px) {
    .banner {
        height: auto;
    }
    .name,
    .clock {
     margin-bottom: auto;
    }
    .lightModeImg{
        margin-right: 10%;
    }
    section {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    p {
        font-size: 1.2rem;
        padding: 0;
        text-align: center;
    }  
    h1 {
        font-size: 2rem;
        text-align: center;
    }  
    h2 {
        font-size: 1.8rem;
        text-align: center;
    } 
    h3 {
        font-size: 1.6rem;
    }
    .logos h3 {
        font-size: 0.6rem;
        align-items: center;
    }
    .logos img {
        height: 50px;
        width: 50px;
    }
    #rps img {
        margin: auto;
        height: 50px;
        width: 50px;
    }
    .project-align {
        text-align: center;
        flex-direction: column;
    }
    #rps, #ttt {
        width: 100%;
        height: auto;
      }
    #board {
        height: 180px;
        width: 180px;
    }
    .square {
        height: 60px;
        width: 60px;
    }
    .dd-container {
        display: block;
        text-align: center;
        align-content: center;
    }
    .dd {
        text-align: center;
        margin: auto;
    }
  }

/* Responsive Navigation Bar */
@media only screen and (max-width: 600px) {
    .nav-bar,
    .banner,
    .lightModeImg {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .banner .name {
        margin-bottom: 0;
      }
      
      .banner .clock {
        margin-top: 0;
      }
    .lightModeImg {
        float: none;
        margin: 0 auto;
        margin: 4px;
        align-items: center;
    }
    .nav-bar ul {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;    
    }
    .nav-bar ul a {
        margin: 0.5em;
        padding: 0.5rem;
    }
    .nav-bar ul a:hover {
        text-decoration: underline;
        color: #30c9ea;
    }
}

@media screen and (max-width: 600px) {
    .nav-bar,
    .banner {
      flex-direction: column;
      height: auto;
    }
    .nav-bar .name {
      margin-bottom: 1em;
    }
    .nav-bar ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0;
    }
    .nav-bar ul a {
      margin-top: 1em;
    }
} 